
h1{
  font-family:'Shadows Into Light Two', cursive;
  padding-bottom:40px;
}
.me{
  background-color: #272727;
  padding-top: 50px;
  padding-bottom: 50px;
}
.me h1 {
  color:#fff;
}
.me img{
  width:400px;
}
.myprojects {
  text-align: center;
  padding-top:60px;
  padding-bottom:30px;
}
.myprojects figure{
  max-width:750px;
  margin:auto;
  padding:10px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.myprojects figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
/*  max-width: 750px; */
}
.myprojects figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.myprojects h3 a:hover{
color:#5ac5c9;
text-decoration:none;
}
.myprojects h3 a{
  color:#272727;
}
.myprojects ul li{
  list-style:none;
  margin-bottom:50px;
}
.myprojects h3{
  margin-bottom:0px;
  font-family: 'Oswald', sans-serif;
}
.myprojects h3 i{
  font-size:16px
}
p{
  font-family:'Oswald';
  font-size:18px;
  color:#8c8c8c;
  line-height:2;
}
h2{
  font-family: 'Oswald', sans-serif;
  color: #bbbbbb;
  font-size: 24px;
}
footer{
  background-color: #9c9c9c;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
footer p{
  color:#fff;
}
header h1{
  color:#987186;
  padding-bottom:0px;
  font-size: 32px;
}
header{
  background-color: #f9f2f6;
    padding-bottom: 15px;}

@media only screen and (max-width: 1024px){
.btn-menu{
  display:none;
}
.myprojects img{
  max-width: 100%;
}
figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
}
